*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    height: 100%;
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    background-image: url(../img/fon-img.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 50%;
    background-attachment: scroll;
}
img{
    max-width: 100%;
    height: auto;
}
.container{
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}